html, body {
  margin: 0;
  padding:0;
  background: black;
}

div{
	padding-top: 50px;
}

h1{
	color: white;
	text-align: center;
	font-weight: 900;
	font-size: 3em;
}

h4{
	color: white;
}
ul.accordion * {
	font-family: 'Lato', sans-serif;
	-webkit-transition: all .6s ease-in-out;
  	-moz-transition: all .6s ease-in-out;
  	transition: all .6s ease-in-out;
}

ul.accordion {
  width: 100%; /* Personalizar sncho total */
  overflow: hidden;
  padding: 0;
  background: red;
  text-align: center;
  list-style: none;
  font-size: 0;
}

ul.accordion li {
  position: relative;
  display: inline-block;
  width: 10%; 
  height:0;
  padding-bottom: 40%; /* Ratio aspecto imagen = (height*X)/width */
  background: black;
  text-align: center;
  box-shadow: -2px 0px 8px red;
}

ul.accordion li h4 {
  position: relative;
  top: 5%;
  z-index: 1;
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  text-transform: uppercase;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 10% 120%;
  -moz-transform-origin: 10% 120%;
  transform-origin: 10% 120%;
  white-space: nowrap;
}

ul.accordion li a, ul.accordion li img {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  width: 0;
  padding:0;
  background: #333;
}

ul.accordion li:hover {
  width: 60%; 
}

ul.accordion li:hover h4 {
  padding-left: 10px;
  background: rgba(255,0,0,.8);
  color: #eee;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}

ul.accordion li:hover a, ul.accordion li:hover a img {
  width: 100%; 
}

/* Source code used from http://codepen.io/oloman/details/Gynoq/ */
